Name: order.rpc
ListenOn: 0.0.0.0:8085
Etcd:
  Hosts:
  - 127.0.0.1:2379
  Key: order.rpc
Mysql:
  DataSource: root:your_mysql_password@tcp(127.0.0.1:3306)/zero_order?charset=utf8mb4&parseTime=True&loc=Local
RedisConf:
  Host: 127.0.0.1:6379
  Type: node
CartRpcConf:
  Etcd:
    Hosts:
      - 127.0.0.1:2379
    Key: cart.rpc
GoodsRpcConf:
  Etcd:
    Hosts:
      - 127.0.0.1:2379
    Key: goods.rpc
Log:
  Mode: console
  Encoding: plain
  Level: info
