Name: cart.rpc
ListenOn: 0.0.0.0:8084
Etcd:
  Hosts:
  - 127.0.0.1:2379
  Key: cart.rpc
Mysql:
  DataSource: root:your_password@tcp(127.0.0.1:3306)/zero_cart?charset=utf8mb4&parseTime=True&loc=Local
RedisConf:
  Host: 127.0.0.1:6379
  Type: node
RocketMqConf:
  Endpoint: 127.0.0.1:8081
  Topics:
    TopicSyncFiling: cart_change_topic
    TopicDelCart: cart_del_topic
  Consumer:
    Group:
      GroupCartFiling: cart_filing_group
      GroupCartDel: cart_del_group
    AwaitDuration: 5s
    MaxMsgNum: 16
    InvisibleDuration: 15s
GoodsRpcConf:
  Etcd:
    Hosts:
    - 127.0.0.1:2379
    Key: goods.rpc
Log:
  Mode: console
  Encoding: plain
  Level: info


